*{
    box-sizing: border-box;
}
body{
    font-family:'Sansita';
    font-size: 12px;
    margin: 0;
}
.cabecalho {
    background-color: #0E8A65;
    border-radius: 0px;
    padding: 5px;
}
.imagem {
    position: absolute;
    width: 157px;
    height: 96px;
    left: 141px;
    top: 232px;
    background: url(imagens/facilitador.png);
    background-blend-mode: darken;
}
.coluna {
    display: flex;
    flex-wrap: initial;
}
.banner { 
    display: flex;
}
.direita {
    width: 80%;
    background-color: white;
}
.texto {
    width: 80%;
    padding: 20px;
    position: absolute;
    width: 231px;
    height: 445px;
    left: 109px;
    top: 347px;
    font-size: 15px;
    background: #92DC91;
}

.botao {
    position: absolute;
    width: 231px;
    height: 58px;
    left: 109px;
    top: 820px;
    background: #0E8A65;
    text-align: center;
}
.botao a {
    text-decoration: none;
    text-align: center;
    font-weight: 0;
    color: black;
}
.botao:hover {
    background-color: #92DC91;

}
.lateral {
    height: 847px;
    width: 86px;
    left: 0px;
    top: 64px;
    border-radius: 0px;
    background-color: #0E8A65; 
   
}
.materia {
    background-color: #D9D9D9;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 86px;
    left: -1px;
    top: 631px;
    border-radius: 0px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 7px;
}

.materia_2 {
    background-color: #D9D9D9;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 86px;
    left: -1px;
    top: 631px;
    border-radius: 0px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.materia_2 a {
    color: rgb(0, 0, 0);
    padding: 14px 5px;
    text-decoration: none;
    text-align: center;
}
.materia_2:hover{
    background-color: #92DC91;
    color: black;
}

.materia a {
    color: rgb(0, 0, 0);
    padding: 14px 5px;
    text-decoration: none;
    text-align: center;
}
.materia:hover{
    background-color: #92DC91;
    color: black;
}

.amarelo{
    position: absolute;
    width: 86px;
    height: 69px;
    left: 0px;
    top: 0px;
    background: #FFB802;
}
.facilita {
    height: 59px;
    width: 97px;
    left: 108px;
    top: 0px;
    border-radius: 0px;    
    position: relative;
}
.rodape{
    background-color: #0E8A65;
    border-radius: 0px;
    padding: 5px;
    max-height: 70px;
}
.inferior {
    position: absolute;
    width: 86px;
    height: 209px;
    left: 0px;
    top: 707px;
    background: #FFB802;
}
.menu {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 19px;
    top: 7px;
}
.lupa {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 235px;
    top: 14px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.barra {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 272px;
    top: 14px;
    background: #D9D9D9;
    border-radius: 20px;
}
.educacao {
    left: 11px;
    top: 846px;
    padding-top: 130px;
    padding-left: 11px;
}
.titulo {
    position: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    left: 2px;
    padding-left: 20px;
}
.sobrenos {
    position: flex;
    font-weight: 400;
    font-size: 10px;
    line-height: 5px;
    text-align: center;
    padding-left: 150px;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    width: 200px;
    height: 8px;
    left: 146px;
    top: 733px;
}
.smol {
    position: relative;
    font-weight: 400;
    font-size: 5px;
    line-height: 6px;
    text-align: center;
    padding-left: 150px;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    width: 200px;
}
.logo1{
    position: absolute;
    width: 20px;
    height: 19px;
    left: 272px;
    top: 940px;
    display: flex;
}
.logo2{
    position: absolute;
    width: 18px;
    height: 16px;
    left: 300px;
    top: 943px;
    display: flex;
}
.logo3{
    position: absolute;
    width: 20px;
    height: 19px;
    left: 326px;
    top: 940px;
    display: flex;
}

/*index2 (pagina de login)*/
.corpo {
    display: flex;
    flex-wrap: initial;
    width: 360px;
    height: 850px;
}
.crie {
    position: absolute;
    width: 294px;
    height: 84px;
    left: 33px;
    top: 143px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}
   
.login {
    display: flex;
    left: 33px;
    top: 215px;
    position: absolute;
}
.circulo {
    background-color: #D9D9D9;
    width: 52px;
    padding-top: 10px;
    height: 52px;
    margin-bottom: 300px;
    border-radius: 100%;
    left: 33px;
    top: 215px;
    margin-left: 18px;
    margin-right: 30px;
    padding: 13px;
    margin-top: 30px;
}

.caracteres {
    padding: 20px;
    font-size: 16px; 
    background-color: #D9D9D9;
    width: 286px;
    height: 56px;
    left: 33px;
    top: 445px;
}
.quadrado1 {
    background: #D9D9D9;
    font-size: 10px;
    padding: 10px;
    line-height: 12px;
    position: absolute;
    width: 245px;
    height: 577px;
    left: 97px;
    top: 241px;
}
.logoum{
    position: absolute;
    width: 286px;
    height: 56px;
    left: 15px;
    top: 308px;
    background: #D9D9D9;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
.logodois{
    position: absolute;
    width: 286px;
    height: 56px;
    left: 15px;
    top: 375px;
    background: #D9D9D9;
    margin: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    text-align: center;
}
.logotres{
    position: absolute;
    width: 286px;
    height: 56px;
    left: 15px;
    top: 445px;
    background: #D9D9D9;
    margin: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    text-align: center;
}
.quadradosesi {
    position: absolute;
    width: 274px;
    height: 88px;
    left: 86px;
    top: 828px;
    background: #D9D9D9;
    padding-left: 10px;
}
.botao2 {
    position: absolute;
    width: 121px;
    height: 75px;
    left: 119px;
    top: 622px;
    background-color: #D9D9D9;
    font-size: 24px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.botao2 a { 
    text-decoration: none;
    text-align: center;
    font-weight: 0;
    color: black;
}
.botao2:hover {
    background-color: #92DC91;
}
.telefone {
    position: absolute;
    width: 48;
    height: 48px;
    left: 27px;
    top: 3px;
    text-align: center;
}
.email {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 27px;
    top: 9px;
    text-align: center;
}
.senha {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 27px;
    top: 5px;
    text-align: center;
}
.check {
    left: 10px;
    top: 565px;
    position: absolute;
}
.servico {
    position: absolute;
    width: 288px;
    height: 32px;
    left: 56px;
    top: 554px;
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}