*{
    padding: 0;/*define para o navegador, que o espaçamento a ser utilizado na página é igual a zero*/
    margin: 0;/*define o valor 0 como margem para página*/}
header{ /*Configura o cabeçalho da página*/
    background-color: #4b544f;
    /*Altera a cor de fundo da área do cabeçalho*/
    color: #f5f0f0;/*altera a cor da fonte*/
    padding: 15px;/*espaçamento entre o texto e as margens*/
    text-align:center;/*alinha o texto no centro da página*/
  border-bottom: #dfe8df 3px
  solid;

    font-family: 'Lucida sans', 'lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*grid de produtos*/
.container {
    background-color: #b9b9b9;
    min-height: 60vh;
    padding: 50px;
}
.product-container{
 max-width: 1200px;
 margin: 0 auto;   
}
.card {
    width: 31%;
    display: inline-block;
}
.product-image {
    height: 300px;
    width: 90%;
    background-position: center ;
    background-size: cover;
}
#img-1 {
    background-image:url(../imagem/tenis1.jpg);
}

#img-2 {
    background-image:url(../imagem/tenis2.jpg);
}

#img-3 {
    background-image:url(../imagem/tenis3.jpg);
}

#img-4 {
    background-image:url(../imagem/tenis4.jpg);
}

#img-5 {
    background-image:url(../imagem/tenis5.jpg);
}

#img-6 {
    background-image:url(../imagem/tenis6.jpg);
}
h3{
    margin-bottom: 10px;
    color:#4b544f;
    font-size: 24px;
}
.card p{
    margin-bottom: 10px;
}
.btn{
    display: block;
    width: 100;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color:#726b6b;
    color:aliceblue;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.btn:hover {
    background-color: #b9b9b9;
}
footer{
    background-color: #4b544f;
    text-align: center;
    padding: 80px;
    color: #dfe8df;

}